<% layout('layouts/boilerplate')%>
    <div class="confirmation-container">
     <h1>BOOKING CONFIRMED</h1>
     <div class="booking-details">
        <p>Car Booked: <%=car[0].carName%></p>
        <p>Car Number: <%=car[0].carNumber%></p>
        <p>Pickup Location: <%=car[0].location%></p>
        <p>Payment <%=status%></p>
        <p>Take your license to the pickup location</p>
        <p>Username: <%=currentUser.username%></p>
     </div>
    </div>
