<% layout('layouts/boilerplate')%>
  <div class="car-list">
      <ul>
        <% cars.forEach((car)=>{ %>
        <div class="border-details">
          <li class="car-details">
            <div class="car-info">
            <h2><%= car.carName %></h2>
            <p>Gear: <%= car.gear %></p>
            <p>Price: <%= car.price %></p>
            <p>Seat: <%= car.seat %></p>
            <p>Car Number: <%= car.carNumber %></p>
            </div>
            <div class="car-image" style="background-image: url('<%= car.image %>'); "></div>
        </li>
        <a href="/users/cars/booking/<%= car.carNumber %>" class="book-button book-now">BOOK NOW</a>
    </div>
        <% }); %>
      </ul>
  </div>
