<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>car.name</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
  <div class="car-list">
      <ul>
        <% cars.forEach((car)=>{ %>
        <div class="border-details">
          <li class="car-details">
            <div class="car-info">
            <h2><%= car.name %></h2>
            <p>Gear: <%= car.gear %></p>
            <p>Price: <%= car.price %></p>
            <p>Seat: <%= car.seat %></p>
            <p>Car Number: <%= car.carNumber %></p>
            </div>
            <div class="car-image" style="background-image: url('<%= car.image %>'); "></div>
        </li>
        <a href="/cars/booking/<%= car.name %>" class="book-button book-now">BOOK NOW</a>
    </div>
        <% }); %>
      </ul>
  </div>
</body>
</html>